/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100%;
}

h1 {
  color: #ffb74d;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.doors {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.door-container {
  position: relative;
  width: 150px;
  height: 200px;
}

.door-frame {
  width: 100%;
  height: 100%;
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.door-frame.door-revealed {
  background-color: #333;
  border: 2px solid #888;
}

.door {
  width: 100%;
  height: 100%;
  background-image: url('./door-image.png'); /* Imagem da porta */
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.door:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.door-selected {
  border: 3px solid #ff4500;
}

.door-dimmed {
  opacity: 0.5;
}

.choice-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice-button:hover {
  background-color: #45a049;
}

.result {
  font-size: 1.5rem;
  color: #ffb74d;
  margin-bottom: 20px;
}

.reset-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #45a049;
}

.scoreboard {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffb74d;
}

.footer {
  margin-top: 40px;
}

.footer-text {
  font-size: 0.9rem;
  color: #aaa;
}

.footer-text strong {
  color: #ffb74d; 
}

.footer-text a {
  color: #4dc7ff; 
  text-decoration: solid; 
}

.footer-text a:hover {
  text-decoration: underline; /* Opcional: subrayado al pasar el mouse */
}

.treasure-image {
  width: 50%;
  height: auto;
  background-color: #333; /* Fundo cinza escuro */
}

@media (max-width: 600px) {
  .door-container {
    width: 100%;
    height: auto;
  }
}
